.card{
    margin-top: 16px;
}

.ranges{
    display: flex;
    align-items: center;
    column-gap: 12px;
    row-gap: 12px;
    margin-top: 8px;
}

.type{
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 1.5px;
    color: #6e6e6e
}

.key{
    font-weight: 400;
    color: #9e9e9e;
}

.value{
    font-weight: 500;
    color: #333;
}