.card{
    padding: 16px;
    border: 1px solid rgb(216, 216, 216);
    width: 100%;
    border-radius: 4px;
    margin-bottom: 2rem;
}

.title{
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
    margin-bottom: 24px;
}

.chip{
    width: max-content;
    border-radius: 4px;
    padding: 6px 20px;
    border: 1px solid;
    color: white;
}

.chipContainer{
    display: flex;
    column-gap: 12px;
    row-gap: 12px;
    flex-wrap: wrap;
    margin-bottom: 8px;
}