.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }
  .modal_content {
    background-color: #fefefe;
    margin: auto;
    border-radius: 6px;
    border: 1px solid #888;
    width: 80%;
    padding: 20px;
  }

  .btn{
    background: blueviolet;
    padding: 10px 36px;
    border-radius: 4PX;
    margin-top: 1.8rem;
    width: 100%;
    color: white;
    font-weight: 500;
  }

  .pokemonContainer{
    column-gap: 24px;
    row-gap: 24px;
    padding: 20px;
  }

  .head{
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 12px;
  }

  .head_name{
    color: blueviolet;
  }

